<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>phtest</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-slides pager class="position-bullet">
    <ion-slide class="position-absolute" *ngFor="let slide of slides; let s = index">
      <!-- Message: {{count}} -->
      <ion-content margin-top margin-bottom>
      <ion-card *ngFor="let vraag of slide.vragen; let v = index" [attr.data-index]="v">
        <ion-card-header>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <h2>{{vraag.title}}</h2>
            <p>{{vraag.question}}</p>
            <ion-badge>Message: {{vraag.value}}</ion-badge>
            
            <!-- Value: {{value}} -->
            <!-- <range></range> -->
            <ion-range min="-3" max="3" step="1" snaps="true" color="secondary" [(ngModel)]="vraag.value" (ionBlur)="updateAntwoorden(s, v, vraag.value)"></ion-range>
          </ion-list>
          
        </ion-card-content>
      </ion-card>
    </ion-content>
    </ion-slide>
  </ion-slides>
  <button ion-button block class="button-fixed" (click)="checkProfiel()">Check Results</button>
</ion-content>


