<!-- Generated template for the VraagComponent component -->
<ion-content margin-top margin-bottom>
<ion-card *ngFor="let vraag of vragen; let i = index" [attr.data-index]="i">
  <ion-card-header>
  </ion-card-header>

  <ion-card-content>
	<ion-list>
			<h2>{{vraag.title}}</h2>
			<p>{{vraag.question}}</p>
			<button (click)="Count()">Count</button>
			<button (click)="sendMessage()">Send Message</button>
		
			<!-- <range></range> -->
			<ion-range min="-3" max="3" step="1" snaps="true" color="secondary" [(ngModel)]="vraag.value"></ion-range>
			   

			
	</ion-list>

  </ion-card-content>
</ion-card>
<!-- <range></range> -->
</ion-content>
